html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body.prevent-scroll {
  overflow: hidden;
}

.container {
  width: min(90vw, var(--container-max-width));
  margin-inline: auto;
  padding-block: 2.62rem;
}
